body, html {
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  color: rgb(16, 15, 18);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.d-flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.min-vh-100 {
  min-height: 100vh;
}

.container {
  width: 1200px;
  height: 800px;
  margin: 20px auto;
}

.image-with-text {
  position: relative;
  display: flex;
  align-items: center;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Text color on top of the image */
}